@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --text-color: #2e2e2e; 
  --box-color: #fff; /*30%*/
  --btn-color : #64b483;
  --all-border: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 100%;
  padding: 50px;
}

.polls {
  display: flex;
  flex-direction: column;
}

.poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-shadow: 3px 3px 5px rgba(87, 87, 87, 0.24);
  border: 1px solid rgba(87, 87, 87, 0.24);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 50px;
  margin: 10px 0;
}

.poll > p {
  font-size: 1.5em;
  width: 100%;
}

.poll > ul {
  width: 300px;
}

.poll > ul > li {
  padding: 5px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.poll > ul > li > div{
  display: flex;
}

.poll > ul > li > div > span {
  width: 20px;
}

.poll > ul > li > div > button {
  padding: 0 3px;
  background-color: transparent;
  border: 1px solid var(--btn-color);
  border-radius: 5px;
}

.poll > ul > li > div > button:hover {
  color: var(--box-color);
  background-color: var(--btn-color);
}

.likes > p {
  padding: 0 5px;
}

.box {
  padding: 20px 0;
}

.pollForm {
  width: 200px;
}

.pollForm input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0 3px;
}

.pollAnswer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.pollAnswer input {
  border: none;
  border-radius: 5px;
  height: 100%;
  padding: 0 3px;
}

.pollAnswer button {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 0 5px;
}

.pollAnswer button:hover {
  background-color: var(--btn-color);
  color: #fff;
}

.form-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.form-options button {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 0 7px;
}

.form-options button:hover {
  background-color: red;
  color: #fff;
}